<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
    <body>
        <div class="container py-4 py-xl-5">
            <div class="d-flex flex-column ">
                <div class="intro">
                    <h2>Introduction</h2>
                    <h1>Overview</h1>
                    <p> Hi, I graduated from UCSD with a bachelor's degree in Mathematics-Computer Science. Currently I am learning to 
                        become a Full Stack Developer at Genspark. I've learned many skills at Genspark, including OOP, Collaboration, 
                        Databases, Spring Backend and more</p>
                </div>
                <div class="tech">
                    
                </div>
            </div>
        </div>
    </body>
</html>