.tech {
    padding: 50px 0;
}


.intro h2 {
    color: rgb(137, 204, 231);
}

.intro p {
    padding-left: 3rem;
    font-size: 30px;
    font-weight: 400;
}

.experience-item {
    padding-left: 3rem;
}

.title {
    font-size: 70px;
    font-weight: 900;
    color: white;
    border: 1px solid skyblue;
    width: fit-content;
    background-color: skyblue;
    border-radius: 10px;
    padding: 5px;
}
