<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
    <body>
        <div class="container py-4 py-xl-5">
            <div class="d-flex flex-column ">
                <div class="intro">
                    <h2>Introduction</h2>
                    <h1 class="title">Overview</h1>
                    <p> Hi, I graduated from UCSD with a bachelor's degree in Mathematics-Computer Science. Currently I am learning to 
                        become a Full Stack Developer at Genspark. I've learned many skills at Genspark, including OOP, Collaboration, 
                        Databases, Spring Backend and more</p>
                </div>
                <div class="tech">
                    <h1 class="title my-5">Technology</h1>
                    <div class="tech-icon d-flex justify-content-evenly ">
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/python.svg" alt="python">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/c++.svg" alt="c++">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/java.svg" alt="java">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/javascript.svg" alt="javascript">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/react.svg" alt="react">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/next.svg" alt="next">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/angular.svg" alt="angular">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/rest.svg" alt="rest">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/html.svg" alt="html">
                        </div>
                        <div class="icon-item">
                          <img class="rounded img-fluid d-block fit-cover" style="height: 70px; width: 70px;" src="/css.svg" alt="css">
                        </div>
                      </div>
                </div>
                <div class="experience">
                    <h1 class="title">Experience</h1>
                    <div class="experience-item">
                        <h2>Genspark | May - Present</h2>
                        <ul>
                            <li>Executed assignments leveraging foundational Java concepts encompassing Loops, Arrays, Collections, Classes, Object-Oriented Programming (OOP), Exceptions, IO Files, and Functional Programming principles.</li>
                            <li>Applied Test Driven Development (TDD) methodologies to ensure the creation of robust, maintainable code.</li>
                            <li>Developed diverse projects including "Humans vs Goblins" and a Simple Slot Machine application, employing Java and integrating various Java concepts.</li>
                            <li>Engineered the backend of an application utilizing Java, Spring Boot, and Hibernate to establish seamless connectivity with a MySQL database.</li>
                            <li>Explored TypeScript fundamentals, covering Basic Types, Type Annotations and Inference, Functions, Interfaces, Classes, Generics, Modules, Namespaces, and Decorators.</li>
                            <li>Engaged in foundational Angular Development tasks, encompassing Components, Templates and Data Binding, Directives, Services and Dependency Injection, Modules, Routing, Forms, HTTP Client, Pipes, and RxJS Basics.</li>
                            <li>Orchestrated the development of a comprehensive Full Stack Employee Management System using Java, Spring Boot, Hibernate, MySQL, and Angular.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>