<html data-bs-theme="light" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>Untitled</title>
    </head>
    <body>
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-4 col-xl-4 text-center mx-auto"> 
                    <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="/github.png">
                    <p>You have reach my github domain, you can see my all my projects in my github</p>
                    <a class="buttonLink text-decoration-none" target="__blank" href="https://github.com/hyah01?tab=repositories">GitHub</a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto"> 
                    <h1 class="title">Project</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-col-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="image-container">
                        <a target="__blank" href="https://github.com/hyah01/humans-vs-goblins"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="goblin.png"></a>
                        <div class="py-4">
                            <h4 class="ptitle">Human VS Goblin</h4>
                            <p>This project is a GUI-based RPG titled "Humans vs Goblins" created using Java Swing. It features a grid-based game world where players control human characters to move, interact, and engage in turn-based combat with goblins. 
                                The game includes a detailed inventory system, equipment that modifies player stats, and random treasure chests with collectible items. The combat system is turn-based and provides visual feedback, with loot drops and rewards enhancing gameplay.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="image-container">
                        <a target="__blank" href="https://github.com/hyah01/humans-vs-goblins"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="weatherapp.png"></a>
                        <div class="py-4">
                            <h4 class="ptitle">Weather App</h4>
                            <p>Website of a Weather Forecast App that display current weather, temperature, weather condition and images. Realtime forecast for the next 24 hours, 7 days forecast</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="py-4">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, harum tenetur placeat vel assumenda saepe eligendi, ea architecto inventore, porro ipsam? Fugiat omnis est, id quis sapiente pariatur alias ratione.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="py-4">
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, harum tenetur placeat vel assumenda saepe eligendi, ea architecto inventore, porro ipsam? Fugiat omnis est, id quis sapiente pariatur alias ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>