<nav class="nav justify-content-center">
  <a class="nav-link active" routerLink = "/">Home</a>
  <a class="nav-link" routerLink = "/about">About</a>
  <a class="nav-link" routerLink = "/projects">Projects</a>
  <a class="nav-link" routerLink = "/contact">Contact</a>
  
</nav>

<router-outlet></router-outlet>


<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
   <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fa fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
          <span>Brand</span>
        </div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul id="accordionSidebar" class="navbar-nav text-light">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html"> <i class="fa fa-user"></i>
          <span>Profile</span>
          </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="table.html">
          <i class="fa fa-table"></i>
          <span>Table</span>
          </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="login.html"> <i class="far fa-user-circle"></i> <span>Login</span>
          </a>
          </li>
          <li class="nav-item">