.container-fluid {
    padding: 0;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #343a40; 
    transition: width 0.3s ease;
    z-index: 1000;
    min-width: 5rem;
    max-width: 10rem;
  }
  .sidebar.collapsed {
    transform: translateX(-100%);
  }
  .toggle-btn{
    position: relative;
    top:14.5rem;
    left:13rem;
    z-index: 1000;
  }

  .toggle-btn-t{
    position: fixed;
    z-index: 1000;
    top: 25vh;
    height: 50vh;
    width: 2em;
    border-radius: 10px;
    opacity: .3;
    background-color: #3a3b3c;
  }

  .active-link {
    font-weight: bold;
    color: white;
    background-color: #007bff;
  }